<h1>New Group Form</h1>

<%= form_for(@group) do |f| %>

  <% @group.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>

  <div class="field">
    <%= f.label :name, "Name:" %>
    <%= f.text_field :name %>
  </div><br>

  <div class="field">
    <%= f.label :description, "Description:"%>
    <%= f.text_field :description %>
  </div><br>


  <div class="field">
    <%= f.submit "Add Group"%>
  </div><br>
<% end %>

<hr>
<%= link_to "Back", groups_path %>
