<h2 class="Title"><%= "Group: #{@group.name}" %></h2>

<div class="description">
  <%= "Description: #{@group.description}" %><br>

<h3><%= "Members:" %></h3>

<% disable = false %>
<% @group.users.each do |user| %>
  <%= "User: #{user.name}" %><br>
  <% if user.id == current_user.id %>
    <% disable = true %>
  <% end %>
<% end %>

<% button_text = 'Sign up' %>
<% if disable == true %>
  <% button_text = "Welcome fellow member" %>
<% end %>

<%= button_to button_text, { action: "update", id: @group.id }, {method: :patch, disabled: disable } %>
<hr>
<%= link_to '<button type="button">Group Page</button>'.html_safe, groups_path %>

</div>
