
<div class="center">
  <% if current_user == @user %>
    <%= link_to "edit account", edit_user_registration_path %>
  <% end %>
<p>Email:<%= @user.email %></p>
  <% provide(:title, @user.name) %>
  <div class="row">
    <aside class="col-md-4">
      <section>
        <h1>
          <%= @user.name %>
        </h1>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
    </aside>
    <div class="col-md-8">
      <%= render 'follow_form' if signed_in? %>
    </div>
  </div>
</div>

<div class="description">
  <h3><%= "Blog:" %></h3>
  <%= link_to '<button type="button">Post</button>'.html_safe, new_user_article_path(@user) %>
<br>
  <% if @articles.nil? != true %>
    <% @articles.each do |article| %>
    <div class="bodyText">
      <%= article.title %> <br>
      <%= article.description %> <br>
      <%= "#{article.user.name}, Post on: #{article.created_at.strftime("%B %d %Y")}" %>
    </div>
    <% end %>
  <% end  %>
</div>
