<p class="small-6 center">
  If you're looking for a time to relax and have fun after a long day,
  use this app to bring together innovation crowd for an evening of board games and great times.
  Don't know how to play? New players are welcome to meet and learn new
  games for the first time.
</p>

<h1 class="Title">Event Index</h1>
<div class="indexbutton">
  <%= link_to '<button type="button">Board Game</button>'.html_safe, boardgames_path %>
  <%= link_to '<button type="button">Group page</button>'.html_safe, groups_path %>
  <%= link_to '<button type="button">Location</button>'.html_safe, locations_path %>
  <%= link_to '<button type="button">Add New Event</button>'.html_safe, new_event_path %>
  <%= link_to '<button type="button">User List</button>'.html_safe, users_path %>
</div>
<table class="indextable">
  <thead>
    <tr>
      <th>Title</th>
      <th>Posted</th>
      <th>Date</th>
      <th>Organizer</th>
    </tr>

  </thead>

  <tbody>
    <% (@events.sort { |a, b| b <=> a }).each do |event| %>
    <tr>
      <td>
        <%= link_to event.name, event_path(event) %><br>
      </td>
      <td>
        <%= "Posted on: #{event.created_at.strftime("%B %d %Y")}" %>
      </td>
      <td>
        <% if event.eventdate != nil %>
          <%= "Date: #{event.eventdate.strftime("%m/%d/%Y at %I:%M%p")}"%>
        <% end %>
      </td>
      <td>
        <%= "Organized by: #{event.organizer.name}" %>
      </id>
    </tr>
    <% end %>
  </tbody>
</table>

<% if current_user %>
  <div class="center row">
    <aside class="col-md-4">
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
    </aside>

  </div>

<% end %>

<h1>Search from</h1>


<div class="forms">
  <%= form_tag({controller: "searches", action: "search"}, method: "get", class: "nifty_form") do %>

    <div class="field">
      <%= label_tag :search_type %>
      <%= select_tag :search_type, "<option>Boardgame</option><option>Event</option><option>Location</option>".html_safe%>
    </div><br>

    <div class="field">
      <%= label_tag :keyword, "Keyword:" %>
      <%= text_field_tag :keyword %>
    </div><br>

    <div class="field">
      <%= submit_tag "Search"%>
    </div>
  <% end %>
</div>
