<p class="small-6 center">
  If you're looking for a time to relax and have fun after a long day,
  use this app to bring together innovation crowd for an evening of board games and great times.
  Don't know how to play? New players are welcome to meet and learn new
  games for the first time.
</p>


<h1 class="Title">Event Index</h1>
<div class="indexbutton">
  <%= link_to '<button type="button">Add New Event</button>'.html_safe, new_event_path %> |
    <%= link_to '<button type="button">Home Page</button>'.html_safe, root_path %>
</div>
<table class="indextable">
  <thead>
    <tr>
      <th>Title</th>
      <th>Posted</th>
      <th>Date</th>
      <th>Organizer</th>
    </tr>

  </thead>

  <tbody>
    <% (@events.sort { |a, b| b <=> a }).each do |event| %>
    <tr>
      <td>
        <%= link_to event.name, event_path(event) %><br>
      </td>
      <td>
        <%= "Posted on: #{event.created_at.strftime("%B %d %Y")}" %>
      </td>
      <td>
        <% if event.eventdate != nil %>
          <%= "Date: #{event.eventdate.strftime("%m/%d/%Y at %I:%M%p")}"%>
        <% end %>
      </td>
      <td>
        <%= "Organized by: #{event.organizer.name}" %>
      </id>
    </tr>
    <% end %>
  </tbody>
</table>
