<h1 class="Title">New Event Form</h1>

<div class="forms newLabel">
<%= form_for(@event) do |f| %>

  <% @event.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>

  <div class="field column 3" >
      <%= f.label :name, "Name:" %>
      <%= f.text_field :name %>
  </div><br>

  <div class="field column 3">
      <%= f.label :location_id, "Location:" %>
      <%= f.collection_select('location_id', Location.all, :id, :name, prompt: true) %>
  </div><br>

  <div class="field column 3">
      <%= f.label :description, "Description:"%>
      <%= f.text_field :description %>
  </div><br>

  <div class="field column 3">
      <%= f.label :eventdate, "Event Date:"%>
      <%= f.datetime_field  :eventdate %>
  </div><br>

  <div class="control-group column 3">
      <%= f.label :boardgame, "Boardgames:"%>
        <div class="boardgames">
          <%= f.collection_check_boxes(:boardgame_ids, Boardgame.all, :id, :title, {multiple: true })  %>
          <!-- <%= f.collection_select(:boardgame_ids, Boardgame.all, :id, :title, {}, {multiple: true}) %> -->
          <!-- f.collection_select('boardgame_ids', Boardgame.all, :id, :title, prompt: true)   -->
        </div>
  </div><br>


  <div class="action">
    <%= f.submit "Add Event"%>
  </div><br>
<% end %>
</div>
<%= link_to "Back", events_path %>
