<h2><%= "Event: #{@event.name}" %></h2>
<%= "Description: #{@event.description}" %><br>
<%= "Location: #{@event.location}" %><br>
<% @boardgames.each do |b| %>
  <%= "Board Game: #{b.title}" %>
<% end %><br>

<h3><%= "Members Attending" %></h3>
<% disable = false %>
<% @event.users.each do |user| %>
  <%= "User: #{user.first_name} #{user.last_name}" %><br>
  <% if user.id == current_user.id %>
    <% disable = true %>
  <% end %>
<% end %>

<% button_text = 'Sign up' %>
<% if disable == true %>
  <% button_text = "See you at the event" %>
<% end %>

<%= button_to button_text, { action: "join", id: @event.id }, {method: :patch, disabled: disable } %>
<hr>
<li><%= link_to "Edit", edit_event_path(@event) %></li>
<%= link_to "Back", events_path %>
