<h2><%= "Event: #{@event.name}" %></h2>
<%= "Description: #{@event.description}" %><br>
<%= "Location: #{@event.location}" %><br>

<h3>Boardgames:</h3>
<% @boardgames.each do |b| %>
  <ul>
    <li><%= link_to b.title, boardgame_path(b.id) %></li>
  </ul>
<% end %>

<h3><%= "Organized by:" %></h3>
<ul>
  <li><%= "#{@event.organizer.first_name} #{@event.organizer.last_name}" %></li>
</ul>

<h3><%= "Members Attending" %></h3>
<% disable = false %>
<% @event.users.each do |user| %>
  <ul>
    <li><%= "User: #{user.first_name} #{user.last_name}" %></li>
  </ul>
  <% if user.id == current_user.id %>
    <% disable = true %>
  <% end %>
<% end %>

<% button_text = 'Sign up' %>
<% if disable == true %>
  <% button_text = "See you at the event" %>
<% end %>

<%= button_to button_text, { action: "join", id: @event.id }, {method: :patch, disabled: disable } %>
<hr>
<% if current_user == @event.organizer %>
<li><%= link_to "Edit", edit_event_path(@event) %></li>
<% end %>
<%= link_to "Back", events_path %>
