<h2 class="Title"><%= "Event: #{@event.name}" %></h2>
<div class="description">
  <%= "Description: #{@event.description}" %><br>
  <%= "Location: #{@event.location.name}, #{@event.location.address}" %><br>
  <% if current_user == @event.organizer %>
    <%= link_to '<button type="button">Change Location</button>'.html_safe, edit_event_path(@event) %>|
    <%= link_to '<button type="button">Add a Location</button>'.html_safe, new_location_path %>
  <% end %>
</div>

<div class="description">
  <h3>Boardgames:</h3>
    <% @boardgames.each do |b| %>
      <ul>
        <li><%= link_to b.title, boardgame_path(b.id) %></li>
      </ul>
    <% end %>

    <% if current_user == @event.organizer %>
      <%= link_to '<button type="button">Add Board Game</button>'.html_safe, edit_event_path(@event) %>
    <% end %>

  <h3>When:</h3>
    <% if @event.eventdate != nil %>
      <%= "Date: #{@event.eventdate.strftime("%m/%d/%Y at %I:%M%p")}"%>
    <% end %>

  <h3><%= "Organized by:" %></h3>
    <ul>
      <li><%= "#{@event.organizer.name}" %></li>
    </ul>

  <h3><%= "Members Attending" %></h3>
  <% disable = false %>
  <% @event.users.each do |user| %>
    <ul>
      <li><%= "User: #{user.name}" %></li>
    </ul>
    <% if user == current_user %>
      <% disable = true %>
    <% end %>
  <% end %>

  <% button_text = 'Sign up' %>
  <% if disable == true %>
    <% button_text = "See you at the event" %>
  <% end %>

  <%= button_to button_text, { action: "join", id: @event.id }, {method: :patch, disabled: disable } %>
</div>

<!-- <div class="description scroll"> -->
<!-- <h1>Score</h1>
  <% @boardgames.each do |b| %>
    <table>

        <tr>
          <th><%= b.title %></th>
          <th>Win</th>
          <th>Lose</th>
        </tr>
        <tr>
          <td></td>
        </tr>
        <tr>
        </tr>
        <tr>
          <td>
            <%= form_for(@score) do |f| %>

            <%= f.label :user, "User:" %>
          </td>

          <td>
            <%= collection_select(:user_ids, :event_id, @event.users, :id, :name, prompt: true) %>
          </td>
          <td>
            <div class="actions">
              <%= f.submit "Sign up" %>
            </div>
          </td>
        </tr>
        <% end %>
    </table>
  <% end %>
</div> -->

<div class="description">
  <h3 ><%= "Comments:" %></h3>
  <% if @comments.nil? == false %>
    <% @comments.each do |comment| %>
    <div class="bodyText">
      <%= "#{comment.body}, created By #{comment.user.name}"%>
      <br>
      <%= "Created on: #{comment.created_at.strftime("%B %d %Y")}" %>
    </div>
    <% end %>
  <% end %>
  <%= link_to '<button type="button">Add Comment</button>'.html_safe, new_event_comment_path(@event) %>


  <hr>
  <% if current_user == @event.organizer %>
    <%= link_to '<button type="button">Edit Page</button>'.html_safe, edit_event_path(@event) %>
  <% end %>

  <div>
  <%= link_to '<button type="button">Back</button>'.html_safe, events_path %>
  </div>
</div>
