<!-- <li id="search">
        <form action="" method="get">
            <input type="text" name="search_text" id="search_text" placeholder="Search"/>
            <input type="button" name="search_button" id="search_button"></a>
        </form>
    </li> -->

    <a class="button dropdown" href="#" data-dropdown="drop1">Dropdown Button </a>

<div>
<ul class="f-dropdown" id="drop1" data-dropdown-content="">
<li><a href="#">Event</a></li>
<li><a href="#">Location</a></li>
<li><a href="#">Boardgame</a></li>
</ul>
</div>

<%= form_for(:event, {url: search_events_path, method: :get}) do |f|%>
  <%= f.text_field :name, placeholder: "Search Events.." %>
  <%= f.submit 'Search' %>

  <div >
    <%= f.label :location_id, "Location:" %>
    <%= f.collection_select('location_id', Location.all, :id, :name, prompt: true) %>
  </div>
<% end %>


<!-- <button><a href="/boardgames/new">New Board Game</button> -->

<div>
  <%= link_to "Group Page", groups_path %>
</div>

<table class="boardgametable">
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @boardgames.each do |boardgame| %>
    <tr>
      <td>
        <%= link_to boardgame.title, boardgame_path(boardgame) %><br>
      </td>
      <td>
        <%= "Rated on: #{boardgame.rating}" %>
      </td>
    </tr>
    <% end %>

  </tbody>
</table>

<div>
  <%= link_to '<button type="button">New Board Game</button>'.html_safe, new_boardgame_path %>
</div>
