<h1 class="newTitle">New Board Game Form</h1>
<div class="forms">
<%= form_for(@boardgame) do |f| %>

  <% @boardgame.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>

  <div class="field column">
    <div class="newLabel">
    <%= f.label :title, "Title:" %>
    <%= f.text_field :title %>
    </div>
  </div><br>

  <div class="field column">
    <div class="newLabel">
    <%= f.label :description, "Description:"%>
    <%= f.text_field :description %>
    </div>
  </div><br>

  <div class="field column">
    <div class="newLabel">
    <%= f.label :rating, "Rating:"%>
    <%= f.text_field :rating %>
  </div>
  </div><br>

  <div class="field column">
    <%= f.submit "Add Boardgame"%>
  </div><br>
<% end %>
</div>

<%= link_to "Back", boardgames_path %>
