<h1>New Board Game Form</h1>

<%= form_for(@boardgame) do |f| %>

  <% @boardgame.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>

  <div class="field">
    <%= f.label :title, "Title:" %>
    <%= f.text_field :title %>
  </div><br>

  <div class="field">
    <%= f.label :description, "Description:"%>
    <%= f.text_field :description %>
  </div><br>

  <div class="field">
    <%= f.label :rating, "Rating:"%>
    <%= f.text_field :rating %>
  </div><br>

  <div class="field">
    <%= f.submit "Add Boardgame"%>
  </div><br>
<% end %>

<%= link_to "Back", boardgames_path %>
