<h2 class="Title"><%= "Boardgame: #{@boardgame.title}" %></h2>

<div class="boardgamePhoto">
  <%= (image_tag "#{@boardgame.boardgame_photo}", size: "700") %>
</div>

<div class="description">
  <%= "Description: #{@boardgame.description}" %><br>
</div>

<div class="description">
  <h3 ><%= "Reviews:" %></h3>
  <div class="bodyText scroll">
    <% if @reviews.nil? != true %>
      <% @reviews.each do |review| %>

        <%= "Score: #{review.rating}"%>
        <br>
        <%= "#{review.body}, create by #{review.user.name}"%>
        <br>

        <%= "Created on: #{review.created_at.strftime("%B %d %Y")}" %>
        <br>
      <% end %>
      <br>
    <% end %>
  </div>
  <%= link_to '<button type="button">Add a Review</button>'.html_safe, new_boardgame_review_path(@boardgame) %>
<hr>
<% if current_user.nil? %>
<%= link_to "Edit", edit_boardgame_path %> |
<% end %>
<%= link_to "Board Games", boardgames_path %>|
<%= link_to "Group Page", groups_path %>
</div>
