<h2><%= "Boardgame: #{@boardgame.title}" %></h2>
<%= "Description: #{@boardgame.description}" %><br>

<h3><%= "Reviews:" %></h3>

<hr>
<%=link_to "Board Games", boardgames_path %>|
<%= link_to "Group Page", groups_path %>
