<h2 class="Title"><%= "Boardgame: #{@boardgame.title}" %></h2>

<div class="boardgamePhoto">
  <%= (image_tag "#{@boardgame.boardgame_photo}", size: "700") %>
</div>

<div class="description">
  <%= "Description: #{@boardgame.description}" %><br>
</div>

<div class="description">
  <h3 ><%= "Reviews:" %></h3>
    <% if @reviews.nil? != true %>
      <% @reviews.each do |review| %>
      <div class="bodyText">
        <%= "Score: #{review.rating}"%>
        <br>
        <li><%= "#{review.body}, create by #{review.user.name}, Posted: #{review.created_at.strftime("%B %d %Y")}"%></li>
        <br>
      </div>
      <% end %>
    <% end %>

  <div id="app"> </div>
  <div hidden id="reviewForm">
    <div id="close">
      <i class="fas fa-window-close"></i>
    </div>

    <h1 class="Title">Review Form for <%= @boardgame.title %></h1>

    <%= form_for [@boardgame, @review] do |f| %>

     <% @review.errors.full_messages.each do |message| %>
       <li><%= message %></li>
     <% end %>
      <div class="forms ">
         <div class="field">
           <%= f.label :rating, "Rating" %>
           <%= f.number_field :rating %>
         </div><br>
         <div class="field">
           <%= f.label :body, "Review:" %>
           <%= f.text_field :body %>
         </div>
         <div id="submit">
           <%= f.submit "Add Review" %>
         </div>
       </div>
    <% end %>
  </div>
<hr>


<% if current_user.nil? %>
  <%= link_to "Edit", edit_boardgame_path %> |
<% end %>
<%= link_to "Board Games", boardgames_path %>|
<%= link_to "Group Page", groups_path %>
</div>
