<h1 class="showTitle">Review Form for <%= @boardgame.title %></h1>

<%= form_for [@boardgame, @review] do |f| %>

 <% @review.errors.full_messages.each do |message| %>
   <li><%= message %></li>
 <% end %>

 <div class="field">
   <%= f.label :rating, "Rating" %>
   <%= f.text_field :rating %>
 </div><br>

 <div class="field">
   <%= f.label :body, "Review:" %>
   <%= f.text_field :body %>
 </div>

 <%= f.submit "Add Review" %>
<% end %>
