<h1 class="newTitle">New Location Form</h1>
<%= form_for(@location) do |f| %>

<div class="forms">
  <% @location.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>

  <div class="field column">
    <%= f.label :name, "Name Location:" %>
    <%= f.text_field :name %>
  </div><br>

  <div class="field column">
    <%= f.label :address, "Address:"%>
    <%= f.text_field :address %>
  </div><br>

  <div class="field column">
    <%= f.submit "Add Location"%>
  </div>
<% end %>

<%= link_to "Back", events_path %>
</div>
